.example-container {
  width: auto;
  height: 850px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.example-sidenav {
  padding: 30px;
  width: 250px;
}
.example-card {
  max-width: 700px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
